<h1>Freeball for Skeeball</h1>


<div class="container">
  <% games.each do |game| %>
    <div class="game">
      <h3>Game: <%= game.number %></h3>
      <div class="teams">
        <% game.teams.each do |team| %>
          <div class="team">
            <h4>Team: <%= team.name %></h4>
            <div class="players">
              <% team.players.each do |player| %>
                <div class="player">
                  <bold>Player: <%= player.first_name%> "<i><%= player.nickname %></i>" <%=player.last_name%> </bold>
                  <%= render partial: "shared/frames", locals: { frames: frames } %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
